#square {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
}

.bg-red {
    background-color: red;
}

.circle {
    border-radius: 50%;
    transition: 1s;
}

#square.rect {
    height: 100px;
    width: 200px;
    transition: 1s;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 300px;
    border: 3px solid grey;
    background-color: green;
    cursor: pointer;
}

.selected {
    border: 3px solid black;
    background-color: grey;
    box-shadow: 0px 3px 5px 5px #B0B0B0;
}

.feu {
    border: 3px solid black;
    background-color: #FF9527;
    box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.bouton{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.fire{
    width: 100px;
    height: 100px;
    background-color: #FF9527;
    cursor: pointer;
}